Dear {{ user.first_name if user.first_name else "user" }},

We've just received a request to reset your password. If this isn't from you then please feel free to ignore this
message, however be aware that someone may be attempting to use your details for nefarious reasons. You can reset your
password using your username and temporary token (shown below) which will time out after 10 minutes.

Temporary (10 minute) ticket: {{ user.ticket_hash }}

Yours,

The m4db team.
